#books {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;

  padding: 3rem 1rem;
}

.app__book-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 1.5rem 0;

  .app__book-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }

  @media screen and (min-width: 2000px) {
    padding: 1rem 2rem;
    border-radius: 0.85rem;
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.app__book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .app__book-item {
    min-width: 270px;
    flex-direction: column;

    margin: 2rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: 2000px) {
      width: 470px;
      padding: 1.25rem;
      border-radius: 0.75rem;
    }

    @media screen and (max-width: 500px) {
      // width: 260px;
      margin: 1rem;
    }
  }
}

.app__book-img {
  width: 290px;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    background-color: var(--primary-color);
  }

  @media screen and (min-width: 2000px) {
    height: 350%;
  }
}

.app__book-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: #fff;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 50%;
      height: 50%;
      color: var(--white-color);
    }
  }
}

.app__book-content {
  padding: 0.5rem;
  width: 300px;
  position: relative;
  flex-direction: column;

  h4 {
    margin-top: 1rem;
    line-height: 1.5;
  }
  .app__book-author {
    padding: 0.5rem 1rem;
  }

  .app__book-category {
    position: absolute;

    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #fff;
    top: -45px;
  }
}

.app__notifier {
  margin-top: 5rem;
  flex-direction: column;
}
